In [1]:
import pandas as pd
import numpy as np
import random
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error

C:\Users\gkumar7\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
#Root Mean Square Logrithmic Error
def rmsle(y, y_):
    log1 = np.nan_to_num(np.array([np.log(v + 1) for v in y]))
    log2 = np.nan_to_num(np.array([np.log(v + 1) for v in y_]))
    calc = (log1 - log2) ** 2
    
    return np.sqrt(np.mean(calc))

In [4]:
def gini(list_of_values):
    sorted_list = sorted(list(list_of_values))
    height, area = 0, 0
  
    for value in sorted_list:
        height += value
        area += height - value / 2.
    
    fair_area = height * len(list_of_values) / 2
    return (fair_area - area) / fair_area


def normalized_gini(y_pred, y):
    normalized_gini = gini(y_pred)/gini(y)
    return normalized_gini
    

predicted_y = np.random.randint(100, size = 1000)
desired_y = np.random.randint(100, size = 1000)

print (normalized_gini(predicted_y, desired_y))

1.02732375298

In [5]:
# Load Training Data
df_train = pd.read_csv('train.csv', index_col = 'id')
print(df_train.shape)
df_train.head()

(595212, 58)

,target,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
id,,,,,,,,,,,,,,,,,,,,,
7,0,2,2,5,1,0,0,1,0,0,...,9,1,5,8,0,1,1,0,0,1
9,0,1,1,7,0,0,0,0,1,0,...,3,1,1,9,0,1,1,0,1,0
13,0,5,4,9,1,0,0,0,1,0,...,4,2,7,7,0,1,1,0,1,0
16,0,0,1,2,0,0,1,0,0,0,...,2,2,4,9,0,0,0,0,0,0
17,0,0,2,0,1,0,1,0,0,0,...,3,1,1,3,0,0,0,1,1,0

In [6]:
# Load Test Data
df_test = pd.read_csv('test.csv', index_col = 'id')
print(df_test.shape)
df_test.head()

(892816, 57)

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
id,,,,,,,,,,,,,,,,,,,,,
0,0,1,8,1,0,0,1,0,0,0,...,1,1,1,12,0,1,1,0,0,1
1,4,2,5,1,0,0,0,0,1,0,...,2,0,3,10,0,0,1,1,0,1
2,5,1,3,0,0,0,0,0,1,0,...,4,0,2,4,0,0,0,0,0,0
3,0,1,6,0,0,1,0,0,0,0,...,5,1,0,5,1,0,1,0,0,0
4,5,1,7,0,0,0,0,0,1,0,...,4,0,0,4,0,1,1,0,0,1

In [7]:
# Split dataframe by rows into n roughly equal portions and return list of them.
def splitDf(df, n) :
    splitPoints = list(map( lambda x: int(x*len(df)/n), (list(range(1,n)))))     
    splits = list(np.split(df.sample(frac=1), splitPoints))
    return splits

In [8]:
# Take splits from splitDf, and return into test set (splits[index]) and training set (the rest)
def makeTrainAndTest(splits, index) :
   # index is zero based, so range 0-9 for 10 fold split
   test = splits[index]

   leftLst = splits[:index]
   rightLst = splits[index+1:]

   train = pd.concat(leftLst+rightLst)

   return train, test

In [9]:
n = 10
splits = splitDf(df_train, n)
trainTest = []
for i in range(0,n) :
     trainTest.append(makeTrainAndTest(splits, i))

In [10]:
predictions = pd.DataFrame()
prediction = pd.DataFrame()

for i in range(0,n):
    # Split the Train DataSet into X and y
    X_train = trainTest[i][0].drop('target', axis=1) #axis=1 denotes that we are referring to a column, not a row
    y_train = trainTest[i][0].target
    X_validation=trainTest[i][1].drop('target',axis=1)
    y_validation=trainTest[i][1].target
    
    # Train Linear Regression model
    
    model_xgb = XGBRegressor()
    model_xgb.fit(X_train, y_train)
    
    # Generate Metrics on Validation Set
    y_prediction = model_xgb.predict(X_validation)
    rmsle_val = rmsle(y_validation, y_prediction)
    rmse_val = mean_squared_error(y_validation, y_prediction)**0.5
    normalized_gini_val = normalized_gini(y_prediction, y_validation)

    print('Validation Metrics')
    print('Normalized gini:', normalized_gini_val)
    print('Root Mean Squared Logarithmic Error:', rmsle_val)
    print('Root Mean Squared Error:', rmse_val)
    
    # Predict on the Test Dataset
    X_test = df_test
    y_test = model_xgb.predict(X_test)
    
    # Build the Submission Dataset
    predictions['iteration']=str(i+1)
    predictions['id'] = X_test.index
    predictions['target'] = y_test.tolist()
    prediction = prediction.append(predictions)

    print(predictions.shape)
    print(predictions.head())
    
    print(prediction.shape)
    print(prediction.head())

Validation Metrics
Normalized gini: 0.252885842572
Root Mean Squared Logarithmic Error: 0.12925234796
Root Mean Squared Error: 0.185815174344
(892816, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
(892816, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.251465552671
Root Mean Squared Logarithmic Error: 0.128200333496
Root Mean Squared Error: 0.184241343223
(892816, 3)
  iteration  id    target
0         2   0  0.026991
1         2   1  0.030089
2         2   2  0.027472
3         2   3  0.014866
4         2   4  0.033602
(1785632, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.255361070564
Root Mean Squared Logarithmic Error: 0.130819320323
Root Mean Squared Error: 0.188077800157
(892816, 3)
  iteration  id    target
0         3   0  0.027038
1         3   1  0.028135
2         3   2  0.029280
3         3   3  0.014656
4         3   4  0.035565
(2678448, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.254683281199
Root Mean Squared Logarithmic Error: 0.129063088681
Root Mean Squared Error: 0.185489211728
(892816, 3)
  iteration  id    target
0         4   0  0.027481
1         4   1  0.029983
2         4   2  0.029294
3         4   3  0.013813
4         4   4  0.034812
(3571264, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.260104102594
Root Mean Squared Logarithmic Error: 0.130481167747
Root Mean Squared Error: 0.187604257827
(892816, 3)
  iteration  id    target
0         5   0  0.028938
1         5   1  0.029327
2         5   2  0.029211
3         5   3  0.015112
4         5   4  0.036215
(4464080, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.255837001501
Root Mean Squared Logarithmic Error: 0.128159928894
Root Mean Squared Error: 0.184120018069
(892816, 3)
  iteration  id    target
0         6   0  0.025016
1         6   1  0.029484
2         6   2  0.029218
3         6   3  0.014637
4         6   4  0.035377
(5356896, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.255774699205
Root Mean Squared Logarithmic Error: 0.129900234906
Root Mean Squared Error: 0.186780359191
(892816, 3)
  iteration  id    target
0         7   0  0.027270
1         7   1  0.030511
2         7   2  0.028457
3         7   3  0.014452
4         7   4  0.038015
(6249712, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.256666813427
Root Mean Squared Logarithmic Error: 0.130944271682
Root Mean Squared Error: 0.188338603582
(892816, 3)
  iteration  id    target
0         8   0  0.028216
1         8   1  0.030077
2         8   2  0.030038
3         8   3  0.015976
4         8   4  0.035019
(7142528, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.258417735794
Root Mean Squared Logarithmic Error: 0.13196497484
Root Mean Squared Error: 0.189833490021
(892816, 3)
  iteration  id    target
0         9   0  0.029089
1         9   1  0.026554
2         9   2  0.028398
3         9   3  0.014591
4         9   4  0.035225
(8035344, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867
Validation Metrics
Normalized gini: 0.255936321883
Root Mean Squared Logarithmic Error: 0.128141496681
Root Mean Squared Error: 0.184104243097
(892816, 3)
  iteration  id    target
0        10   0  0.027092
1        10   1  0.028871
2        10   2  0.027937
3        10   3  0.015097
4        10   4  0.036860
(8928160, 3)
  iteration  id    target
0       NaN   0  0.025783
1       NaN   1  0.028892
2       NaN   2  0.027697
3       NaN   3  0.014697
4       NaN   4  0.035867

In [11]:
pd.crosstab(index=prediction['iteration'],columns="count")

col_0       count
iteration
10         892816
2          892816
3          892816
4          892816
5          892816
6          892816
7          892816
8          892816
9          892816

In [25]:
prediction.shape

(8928160, 3)

In [26]:
prediction_kfold=prediction[['id','target']]

In [27]:
prediction_kfold.shape

(8928160, 2)

In [28]:
prediction_kfold.head

<bound method NDFrame.head of              id    target
0             0  0.025783
1             1  0.028892
2             2  0.027697
3             3  0.014697
4             4  0.035867
5             5  0.038002
6             6  0.021037
7             8  0.045813
8            10  0.060317
9            11  0.057990
10           12  0.029049
11           14  0.025430
12           15  0.048573
13           18  0.047909
14           21  0.042418
15           23  0.023887
16           24  0.022978
17           25  0.048013
18           27  0.016977
19           29  0.050812
20           30  0.036132
21           31  0.045225
22           32  0.054212
23           33  0.014394
24           37  0.026882
25           38  0.031734
26           39  0.071955
27           40  0.038063
28           41  0.030783
29           42  0.020003
...         ...       ...
892786  1487982  0.017657
892787  1487984  0.040943
892788  1487985  0.032136
892789  1487986  0.033691
892790  1487987  0.035782
892791  1487989  0.022718
892792  1487991  0.026435
892793  1487993  0.048412
892794  1487995  0.028595
892795  1487997  0.036608
892796  1487998  0.043908
892797  1487999  0.046916
892798  1488000  0.041824
892799  1488002  0.079251
892800  1488003  0.029979
892801  1488004  0.034895
892802  1488006  0.028028
892803  1488007  0.025720
892804  1488010  0.041245
892805  1488012  0.036478
892806  1488014  0.027142
892807  1488015  0.034361
892808  1488018  0.027851
892809  1488019  0.014761
892810  1488020  0.022021
892811  1488022  0.092884
892812  1488023  0.037700
892813  1488024  0.041845
892814  1488025  0.026004
892815  1488026  0.031832

[8928160 rows x 2 columns]>

In [34]:
result=prediction_kfold.groupby(['id'])['target'].mean().reset_index()

In [35]:
result.shape

(892816, 2)

In [36]:
# Save Output
import time
submission_path = 'submission_' + str(time.time()) + '.csv'
result.to_csv(submission_path, index=False)